<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kungfu Panda</key>
	<string>n the Valley of Peace, Po the Panda finds himself chosen as the Dragon Warrior despite the fact that he is obese and a complete novice at martial arts.</string>
	<key>WALL-E</key>
	<string>In the distant future, a small waste collecting robot inadvertently embarks on a space journey that will ultimately decide the fate of mankind.</string>
	<key>Toy Story 3</key>
	<string>The toys are mistakenly delivered to a day-care center instead of the attic right before Andy leaves for college, and it&apos;s up to Woody to convince the other toys that they weren&apos;t abandoned and to return home.</string>
	<key>Ratatouille</key>
	<string>Remy is a young rat in the French countryside who arrives in Paris, only to find out that his cooking idol is dead. When he makes an unusual alliance with a restaurant&apos;s new garbage boy, the culinary and personal adventures begin despite Remy&apos;s family&apos;s skepticism and the rat-hating world of humans.</string>
	<key>Ice Age</key>
	<string>Set during the Ice Age, a sabertooth tiger, a sloth, and a wooly mammoth find a lost human infant, and they try to return him to his tribe.</string>
	<key>Shrek</key>
	<string>Princess Fiona&apos;s parents invite her and Shrek to dinner to celebrate her marriage. If only they knew the newlyweds were both ogres.</string>
	<key>Madagascar</key>
	<string>Spoiled by their upbringing with no idea what wild life is really like, four animals from New York Central Zoo escape, unwittingly assisted by four absconding penguins, and find themselves in Madagascar, among a bunch of merry lemurs</string>
	<key>Happy Feet</key>
	<string>Into the world of the Emperor Penguins, who find their soul mates through song, a penguin is born who cannot sing. But he can tap dance something fierce!</string>
	<key>The Incredibles</key>
	<string>A family of undercover superheroes, while trying to live the quiet suburban life, are forced into action to save the world</string>
	<key>Bolt</key>
	<string>The canine star of a fictional sci-fi/action show that believes his powers are real embarks on a cross country trek to save his co-star from a threat he believes is just as real.

</string>
</dict>
</plist>
